## Take a look at the data in Python before importing it to SQL

In [ ]:
### Import the excel file itself but then specifically parse one of the sheets (here "Data - June 2016")
### Use pandas and NumPy libraries

In [1]:
import pandas as pd
xls_file = pd.ExcelFile('C:/Users/Monika/Documents/SQL/GlobalFinancialDevelopmentDatabaseJune2016.xlsx')
df = xls_file.parse('Data - June 2016')

In [ ]:
### Take a look at the first few lines to get an idea how SQL tables should be structured

In [2]:
df.head()

,ISO3,ISO2,IMF code,Country,Region,Income Group,Year,GFDD.AI.01,GFDD.AI.02,GFDD.AI.03,...,GFDD.OI.18,GFDD.OI.19,GFDD.OM.01,GFDD.OM.02,GFDD.OE.01,GFDD.OE.02,NY.GDP.MKTP.CD,NY.GDP.PCAP.KD,NY.GNP.MKTP.CD,SP.POP.TOTL
0,AFG,AF,512.0,Afghanistan,South Asia,Low income,1960,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,540000000.0,NaN,550000000.0,9000000.0
1,AFG,AF,512.0,Afghanistan,South Asia,Low income,1961,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,550000000.0,NaN,560000000.0,9200000.0
2,AFG,AF,512.0,Afghanistan,South Asia,Low income,1962,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,550000000.0,NaN,560000000.0,9300000.0
3,AFG,AF,512.0,Afghanistan,South Asia,Low income,1963,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,750000000.0,NaN,770000000.0,9500000.0
4,AFG,AF,512.0,Afghanistan,South Asia,Low income,1964,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,800000000.0,NaN,820000000.0,9700000.0

In [ ]:
### Take a look at unique values in some of the columns

In [3]:
df['Country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas, The', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda',
       'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.', 'Costa Rica',
       'Croatia', 'Cuba', 'Curaçao', 'Cyprus', 'Czech Republic',
       "Côte d'Ivoire", 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt, Arab Rep.', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia',
       'Faeroe Islands', 'Fiji', 'Finland', 'France', 'French Polynesia',
       'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Honduras', 'Hong Kong SAR, China', 'Hungary', 'Iceland',
       'India', 'Indonesia', 'Iran, Islamic Rep.', 'Iraq', 'Ireland',
       'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, Dem. Rep.',
       'Korea, Rep.', 'Kosovo', 'Kuwait', 'Kyrgyz Republic', 'Lao PDR',
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'Macao SAR, China', 'Macedonia, FYR',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia, Fed. Sts.', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Romania', 'Russian Federation',
       'Rwanda', 'Samoa', 'San Marino', 'Saudi Arabia', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Slovak Republic', 'Slovenia', 'Solomon Islands', 'Somalia',
       'South Africa', 'South Sudan', 'Spain', 'Sri Lanka',
       'St. Kitts and Nevis', 'St. Lucia',
       'St. Vincent and the Grenadines', 'Sudan', 'Suriname', 'Swaziland',
       'Sweden', 'Switzerland', 'Syrian Arab Republic',
       'São Tomé and Principe', 'Taiwan, China', 'Tajikistan', 'Tanzania',
       'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela, RB', 'Vietnam',
       'West Bank and Gaza', 'Yemen, Rep.', 'Zambia', 'Zimbabwe'], dtype=object)

In [ ]:
### What columns are there?

In [4]:
cols = list(df.columns)
print (cols)

['ISO3', 'ISO2', 'IMF code', 'Country', 'Region', 'Income Group', 'Year', 'GFDD.AI.01', 'GFDD.AI.02', 'GFDD.AI.03', 'GFDD.AI.04', 'GFDD.AI.05', 'GFDD.AI.06', 'GFDD.AI.07', 'GFDD.AI.08', 'GFDD.AI.09', 'GFDD.AI.10', 'GFDD.AI.11', 'GFDD.AI.12', 'GFDD.AI.13', 'GFDD.AI.14', 'GFDD.AI.15', 'GFDD.AI.16', 'GFDD.AI.17', 'GFDD.AI.18', 'GFDD.AI.19', 'GFDD.AI.20', 'GFDD.AI.21', 'GFDD.AI.22', 'GFDD.AI.23', 'GFDD.AI.24', 'GFDD.AI.25', 'GFDD.AI.26', 'GFDD.AI.27', 'GFDD.AI.28', 'GFDD.AI.29', 'GFDD.AI.30', 'GFDD.AI.31', 'GFDD.AI.32', 'GFDD.AI.33', 'GFDD.AI.34', 'GFDD.AI.35', 'GFDD.AI.36', 'GFDD.AM.01', 'GFDD.AM.02', 'GFDD.AM.03', 'GFDD.AM.04', 'GFDD.DI.01', 'GFDD.DI.02', 'GFDD.DI.03', 'GFDD.DI.04', 'GFDD.DI.05', 'GFDD.DI.06', 'GFDD.DI.07', 'GFDD.DI.08', 'GFDD.DI.09', 'GFDD.DI.10', 'GFDD.DI.11', 'GFDD.DI.12', 'GFDD.DI.13', 'GFDD.DI.14', 'GFDD.DM.01', 'GFDD.DM.02', 'GFDD.DM.03', 'GFDD.DM.04', 'GFDD.DM.05', 'GFDD.DM.06', 'GFDD.DM.07', 'GFDD.DM.08', 'GFDD.DM.09', 'GFDD.DM.10', 'GFDD.DM.11', 'GFDD.DM.12', 'GFDD.DM.13', 'GFDD.DM.14', 'GFDD.DM.15', 'GFDD.EI.01', 'GFDD.EI.02', 'GFDD.EI.03', 'GFDD.EI.04', 'GFDD.EI.05', 'GFDD.EI.06', 'GFDD.EI.07', 'GFDD.EI.08', 'GFDD.EI.09', 'GFDD.EI.10', 'GFDD.EM.01', 'GFDD.SI.01', 'GFDD.SI.02', 'GFDD.SI.03', 'GFDD.SI.04', 'GFDD.SI.05', 'GFDD.SI.06', 'GFDD.SI.07', 'GFDD.SM.01', 'GFDD.OI.01', 'GFDD.OI.02', 'GFDD.OI.03', 'GFDD.OI.04', 'GFDD.OI.05', 'GFDD.OI.06', 'GFDD.OI.07', 'GFDD.OI.08', 'GFDD.OI.09', 'GFDD.OI.10', 'GFDD.OI.11', 'GFDD.OI.12', 'GFDD.OI.13', 'GFDD.OI.14', 'GFDD.OI.15', 'GFDD.OI.16', 'GFDD.OI.17', 'GFDD.OI.18', 'GFDD.OI.19', 'GFDD.OM.01', 'GFDD.OM.02', 'GFDD.OE.01', 'GFDD.OE.02', 'NY.GDP.MKTP.CD', 'NY.GDP.PCAP.KD', 'NY.GNP.MKTP.CD', 'SP.POP.TOTL']

In [5]:
df['IMF code'].unique() ### as there are 'NaN' in this column, I will not use its values

array([ 512.,  914.,  612.,   nan,  614.,  311.,  213.,  911.,  314.,
        193.,  122.,  912.,  313.,  419.,  513.,  316.,  913.,  124.,
        339.,  638.,  319.,  514.,  218.,  963.,  616.,  223.,  516.,
        918.,  748.,  618.,  624.,  522.,  622.,  156.,  377.,  626.,
        628.,  228.,  924.,  233.,  632.,  636.,  634.,  238.,  960.,
        928.,  354.,  423.,  935.,  662.,  128.,  611.,  321.,  243.,
        248.,  469.,  253.,  642.,  643.,  939.,  644.,  816.,  819.,
        172.,  132.,  887.,  646.,  648.,  915.,  134.,  652.,  174.,
        328.,  258.,  656.,  654.,  336.,  263.,  268.,  532.,  944.,
        176.,  534.,  536.,  429.,  433.,  178.,  436.,  136.,  343.,
        158.,  439.,  916.,  664.,  826.,  542.,  967.,  443.,  917.,
        544.,  941.,  446.,  666.,  668.,  672.,  946.,  137.,  546.,
        962.,  674.,  676.,  548.,  556.,  678.,  181.,  867.,  682.,
        684.,  273.,  868.,  921.,  948.,  943.,  686.,  688.,  518.,
        728.,  558.,  138.,  839.,  196.,  278.,  692.,  694.,  142.,
        449.,  564.,  565.,  283.,  853.,  288.,  293.,  566.,  964.,
        182.,  359.,  453.,  968.,  922.,  714.,  862.,  135.,  456.,
        722.,  942.,  718.,  724.,  576.,  936.,  961.,  813.,  726.,
        199.,  733.,  184.,  524.,  361.,  362.,  364.,  732.,  366.,
        734.,  144.,  146.,  463.,  716.,  528.,  923.,  738.,  578.,
        537.,  742.,  866.,  369.,  744.,  186.,  925.,  869.,  746.,
        926.,  466.,  112.,  111.,  298.,  927.,  846.,  299.,  582.,
        487.,  474.,  754.,  698.])

In [6]:
import numpy as np
nan_ = df[df['IMF code'].apply(np.isnan)]   ### Checking which Countries don't have IMF code.
nan_['Country'].unique()

array(['Andorra', 'Isle of Man', 'Korea, Dem. Rep.', 'Liechtenstein',
       'Monaco'], dtype=object)

In [7]:
df['ISO3'].unique()  ### 3 letter country codes

array(['AFG', 'ALB', 'DZA', 'ADO', 'AGO', 'ATG', 'ARG', 'ARM', 'ABW',
       'AUS', 'AUT', 'AZE', 'BHS', 'BHR', 'BGD', 'BRB', 'BLR', 'BEL',
       'BLZ', 'BEN', 'BMU', 'BTN', 'BOL', 'BIH', 'BWA', 'BRA', 'BRN',
       'BGR', 'BFA', 'BDI', 'CPV', 'KHM', 'CMR', 'CAN', 'CYM', 'CAF',
       'TCD', 'CHL', 'CHN', 'COL', 'COM', 'ZAR', 'COG', 'CRI', 'HRV',
       'CUB', 'CUW', 'CYP', 'CZE', 'CIV', 'DNK', 'DJI', 'DMA', 'DOM',
       'ECU', 'EGY', 'SLV', 'GNQ', 'ERI', 'EST', 'ETH', 'FRO', 'FJI',
       'FIN', 'FRA', 'PYF', 'GAB', 'GMB', 'GEO', 'DEU', 'GHA', 'GRC',
       'GRD', 'GTM', 'GIN', 'GNB', 'GUY', 'HTI', 'HND', 'HKG', 'HUN',
       'ISL', 'IND', 'IDN', 'IRN', 'IRQ', 'IRL', 'IMY', 'ISR', 'ITA',
       'JAM', 'JPN', 'JOR', 'KAZ', 'KEN', 'KIR', 'PRK', 'KOR', 'KSV',
       'KWT', 'KGZ', 'LAO', 'LVA', 'LBN', 'LSO', 'LBR', 'LBY', 'LIE',
       'LTU', 'LUX', 'MAC', 'MKD', 'MDG', 'MWI', 'MYS', 'MDV', 'MLI',
       'MLT', 'MHL', 'MRT', 'MUS', 'MEX', 'FSM', 'MDA', 'MCO', 'MNG',
       'MNE', 'MAR', 'MOZ', 'MMR', 'NAM', 'NPL', 'NLD', 'NCL', 'NZL',
       'NIC', 'NER', 'NGA', 'NOR', 'OMN', 'PAK', 'PLW', 'PAN', 'PNG',
       'PRY', 'PER', 'PHL', 'POL', 'PRT', 'PRI', 'QAT', 'ROM', 'RUS',
       'RWA', 'WSM', 'SMR', 'SAU', 'SEN', 'SRB', 'SYC', 'SLE', 'SGP',
       'SVK', 'SVN', 'SLB', 'SOM', 'ZAF', 'SSD', 'ESP', 'LKA', 'KNA',
       'LCA', 'VCT', 'SDN', 'SUR', 'SWZ', 'SWE', 'CHE', 'SYR', 'STP',
       'TWN', 'TJK', 'TZA', 'THA', 'TMP', 'TGO', 'TON', 'TTO', 'TUN',
       'TUR', 'TKM', 'TUV', 'UGA', 'UKR', 'ARE', 'GBR', 'USA', 'URY',
       'UZB', 'VUT', 'VEN', 'VNM', 'WBG', 'YEM', 'ZMB', 'ZWE'], dtype=object)

In [8]:
df['ISO2'].unique()  ### 2 letter country codes

array(['AF', 'AL', 'DZ', 'AD', 'AO', 'AG', 'AR', 'AM', 'AW', 'AU', 'AT',
       'AZ', 'BS', 'BH', 'BD', 'BB', 'BY', 'BE', 'BZ', 'BJ', 'BM', 'BT',
       'BO', 'BA', 'BW', 'BR', 'BN', 'BG', 'BF', 'BI', 'CV', 'KH', 'CM',
       'CA', 'KY', 'CF', 'TD', 'CL', 'CN', 'CO', 'KM', 'CD', 'CG', 'CR',
       'HR', 'CU', 'CW', 'CY', 'CZ', 'CI', 'DK', 'DJ', 'DM', 'DO', 'EC',
       'EG', 'SV', 'GQ', 'ER', 'EE', 'ET', 'FO', 'FJ', 'FI', 'FR', 'PF',
       'GA', 'GM', 'GE', 'DE', 'GH', 'GR', 'GD', 'GT', 'GN', 'GW', 'GY',
       'HT', 'HN', 'HK', 'HU', 'IS', 'IN', 'ID', 'IR', 'IQ', 'IE', 'IM',
       'IL', 'IT', 'JM', 'JP', 'JO', 'KZ', 'KE', 'KI', 'KP', 'KR', 'XK',
       'KW', 'KG', 'LA', 'LV', 'LB', 'LS', 'LR', 'LY', 'LI', 'LT', 'LU',
       'MO', 'MK', 'MG', 'MW', 'MY', 'MV', 'ML', 'MT', 'MH', 'MR', 'MU',
       'MX', 'FM', 'MD', 'MC', 'MN', 'ME', 'MA', 'MZ', 'MM', nan, 'NP',
       'NL', 'NC', 'NZ', 'NI', 'NE', 'NG', 'NO', 'OM', 'PK', 'PW', 'PA',
       'PG', 'PY', 'PE', 'PH', 'PL', 'PT', 'PR', 'QA', 'RO', 'RU', 'RW',
       'WS', 'SM', 'SA', 'SN', 'RS', 'SC', 'SL', 'SG', 'SK', 'SI', 'SB',
       'SO', 'ZA', 'SS', 'ES', 'LK', 'KN', 'LC', 'VC', 'SD', 'SR', 'SZ',
       'SE', 'CH', 'SY', 'ST', 'TW', 'TJ', 'TZ', 'TH', 'TL', 'TG', 'TO',
       'TT', 'TN', 'TR', 'TM', 'TV', 'UG', 'UA', 'AE', 'GB', 'US', 'UY',
       'UZ', 'VU', 'VE', 'VN', 'PS', 'YE', 'ZM', 'ZW'], dtype=object)

In [9]:
df['Region'].unique()

array(['South Asia', 'Europe & Central Asia', 'Middle East & North Africa',
       'Sub-Saharan Africa', 'Latin America & Caribbean',
       'East Asia & Pacific', 'North America'], dtype=object)

In [10]:
df['Income Group'].unique()

array(['Low income', 'Upper middle income', 'High income: nonOECD',
       'Lower middle income', 'High income: OECD'], dtype=object)

In [11]:
df['Year'].unique()

array([1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970,
       1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981,
       1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992,
       1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003,
       2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014], dtype=int64)

In [12]:
df['GFDD.AI.05'].unique()  ### I didn't really know what this heading stood for, it's a form of economic indicator.

array([         nan,    9.005013 ,    9.961    ,   28.26813  ,
         37.98635  ,   33.28611  ,   50.47579  ,   39.20354  ,
         29.31812  ,   33.13022  ,   50.1973   ,   17.48687  ,
         17.23996  ,   99.06484  ,   98.85957  ,   97.08174  ,
         96.73406  ,   14.90085  ,   29.15149  ,   64.51457  ,
         81.93935  ,   31.74365  ,   29.1421   ,   58.60198  ,
         71.98499  ,   96.30613  ,   98.12576  ,   48.20925  ,
         10.46394  ,   15.97993  ,   33.66591  ,   28.02913  ,
         40.71082  ,   56.21161  ,   52.68503  ,   30.26001  ,
         49.24358  ,   55.86038  ,   68.12315  ,   52.8249   ,
         62.98683  ,   13.35309  ,   13.42449  ,    7.237984 ,
          6.94346  ,    3.659712 ,   12.55649  ,   14.80961  ,
         11.35104  ,   95.80464  ,   99.10332  ,    3.300809 ,
          8.959745 ,    7.699498 ,   42.17929  ,   63.21075  ,
         63.81731  ,   78.92678  ,   30.4278   ,   38.35334  ,
         21.69467  ,    3.696726 ,   10.90759  ,   10.04806  ,
         16.68366  ,   50.35873  ,   64.55306  ,   88.39102  ,
         86.02509  ,   85.23765  ,   90.1502   ,   80.65119  ,
         82.17821  ,   15.13626  ,   99.73679  ,  100.       ,
         12.27388  ,   38.20467  ,   53.98639  ,   36.7355   ,
         46.21243  ,    9.71998  ,   13.65175  ,   13.76462  ,
         34.63472  ,   96.82428  ,   97.67167  ,   21.79158  ,
         99.65125  ,   96.98389  ,   96.58276  ,   18.94652  ,
         30.15455  ,   32.98097  ,   39.66507  ,   98.13362  ,
         98.76041  ,   29.42535  ,   34.61837  ,   77.93986  ,
         87.51865  ,   22.31888  ,   40.78673  ,    3.68785  ,
          6.170127 ,   22.00727  ,   17.4961   ,   20.51226  ,
         30.04366  ,   88.68604  ,   96.14764  ,   72.67432  ,
         72.25683  ,   35.23184  ,   52.75381  ,   19.58199  ,
         35.94736  ,   73.68385  ,   92.17522  ,   10.55375  ,
         10.97235  ,   93.88835  ,   94.71014  ,   90.46864  ,
         89.95277  ,   71.00853  ,   87.33458  ,   70.9915   ,
         78.34596  ,   96.42204  ,   96.64558  ,   25.4711   ,
         24.61591  ,   42.10509  ,   53.90742  ,   42.34346  ,
         55.20554  ,   93.04687  ,   94.36082  ,   44.30996  ,
         47.80315  ,   86.77325  ,   72.90818  ,    3.757264 ,
         18.4706   ,   26.77346  ,   89.65883  ,   90.21825  ,
         37.02732  ,   46.92714  ,   18.49702  ,   18.80147  ,
         73.7552   ,   77.90629  ,   94.58679  ,   96.16869  ,
         73.69894  ,   71.7985   ,    5.523223 ,    5.727489 ,
         16.54061  ,   16.13567  ,   66.17381  ,   80.67462  ,
          8.213853 ,   13.25341  ,   95.27007  ,   96.328    ,
         17.46181  ,   20.44538  ,   80.12321  ,   82.20827  ,
         27.42938  ,   38.69535  ,   18.06632  ,   17.75575  ,
         77.71709  ,   91.82178  ,   50.43801  ,   59.82601  ,
         39.07011  ,   39.899231 ,   22.6204   ,   58.06324  ,
         25.30856  ,   33.80135  ,   98.65853  ,   99.2956   ,
         99.43673  ,   99.52554  ,   14.21833  ,   18.8548   ,
          1.521699 ,    3.490045 ,   29.66754  ,   44.1732   ,
         73.60242  ,   10.3063   ,    8.706139 ,   24.92649  ,
         43.40355  ,   21.72015  ,   20.45868  ,   28.97523  ,
         26.55593  ,   28.06573  ,   70.19429  ,   77.86217  ,
         81.22942  ,   87.38635  ,   69.73527  ,   65.87539  ,
         44.59163  ,   60.79454  ,   48.17849  ,   67.38309  ,
         32.76382  ,   38.14489  ,   46.42066  ,   69.40958  ,
          5.821141 ,   11.92181  ,   62.21622  ,   83.09234  ,
         15.34176  ,   14.14885  ,   98.22189  ,   96.3526   ,
         79.58302  ,   77.24139  ,   97.14371  ,   97.24451  ,
         31.01479  ,    7.855717 ,   53.64507  ,   68.76723  ,
         93.2776   ,   97.57531  ,   68.52617  ,   82.69138  ,
          6.899798 ,   15.26843  ,   28.56944  ,   98.99195  ,
         99.71992  ,   97.98564  ,   23.25309  ,   91.37632  ,
          2.534857 ,   11.45923  ,   17.25777  ,   19.04123  ,
         72.66644  ,   78.13655  ,   10.18524  ,   17.61492  ,
         75.92206  ,   32.18642  ,   27.26323  ,   57.60143  ,
         56.51257  ,    0.4049115,    1.790751 ,   20.46142  ,
         27.78342  ,   41.26857  ,   52.71481  ,   59.73237  ,
         83.20432  ,   97.20129  ,   98.93105  ,   87.95786  ,
         93.5838   ,   23.5426   ,   45.35541  ,   22.50392  ,
         40.71001  ,   44.11666  ,   56.85735  ,   21.36949  ,
         30.86436  ,   19.42803  ,   24.24381  ,    3.659954 ,
          6.448482 ,   21.36491  ,   31.29242  ,   39.65121  ,   17.18949  ])

In [ ]:
### I've decided I am going to use the 'GFDD.AI.**' columns to investigate some kind of a trend in SQL
### I'll normalise the tables so that:
### -- Region has its own table; primary key Region name; foreign key in main table showing region name
### -- Country has its own table (with ISO code); primary key Country 2 digit code; foreign key in main table
### -- Therefore MAIN table will not have Region and Country names, only ISO codes

## SQL Queries

## Check what is already available under schema; then import data from above

In [ ]:
# Check tables within the schema, after logging on
select TABLESPACE_NAME, TABLE_NAME 
from USER_TABLES;

# Check all tables accessible to current user
select TABLESPACE_NAME, TABLE_NAME 
from ALL_TABLES;

# Check an individual table
desc 'TABLENAME';

In [ ]:
### -- use Data Import wizard, it allows selection of columns
### -- Going to create the Region and Country tables using subqueries in a separate Import 
### -- All 'GFDDAI**' fields are FLOAT

In [ ]:
### Import the main sheet again but this time only with Country and Region
### Create table for Region & Country combined as there is no ID number for Region, therefore no way of linking separate
### Country & Region tables

In [ ]:
create TABLE Country AS
select DISTINCT Country, Region, ISO2, ISO3
from(
select * 
from COUNTRYREGION) C;

In [ ]:
select count(*), Country
from COUNTRY
group by COUNTRY;

### 206 Countries, no duplicates
### Primary Key: ISO2 in Country table, Foreign Key: ISO2 in Main table

In [ ]:
alter TABLE Country 
    modify (CONSTRAINT main_pk PRIMARY KEY (ISO2));  ### Turn existing field into PRIMARY KEY
    
alter TABLE MAIN 
  modify ISO2 CONSTRAINT main_fk REFERENCES Country(ISO2);  ### Turn existing field into FOREIGN KEY

In [ ]:
create SEQUENCE main_seq START WITH 1; ### Creating sequence to create ID for Main table as auto-incrementing PRIMARY KEY

In [ ]:
create TRIGGER IDX                     ### Creating TRIGGER for IDX primary key to auto-increment.
    before INSERT on MAIN
    for EACH ROW

BEGIN
  select main_seq.NEXTVAL
  into   ID
  from   dual;
END;
/

## Now look at existing schema within SQL Developer

In [ ]:
select TABLESPACE_NAME, TABLE_NAME 
from USER_TABLES;

USERS	REGIONS
USERS	LOCATIONS
USERS	DEPARTMENTS
USERS	JOBS
USERS	EMPLOYEES
USERS	JOB_HISTORY

In [ ]:
desc REGIONS;  ### look at the "Regions" table

Name        Null     Type         
----------- -------- ------------ 
REGION_ID   NOT NULL NUMBER       
REGION_NAME          VARCHAR2(25) 

desc LOCATIONS;   ### look at the "Locations" table

Name           Null     Type         
-------------- -------- ------------ 
LOCATION_ID    NOT NULL NUMBER(4)    
STREET_ADDRESS          VARCHAR2(40) 
POSTAL_CODE             VARCHAR2(12) 
CITY           NOT NULL VARCHAR2(30) 
STATE_PROVINCE          VARCHAR2(25) 
COUNTRY_ID              CHAR(2) 

desc DEPARTMENTS;   ### look at the "Departments" table

Name            Null     Type         
--------------- -------- ------------ 
DEPARTMENT_ID   NOT NULL NUMBER(4)    
DEPARTMENT_NAME NOT NULL VARCHAR2(30) 
MANAGER_ID               NUMBER(6)    
LOCATION_ID              NUMBER(4) 

desc JOBS;         ### look at the "Jobs" table

Name       Null     Type         
---------- -------- ------------ 
JOB_ID     NOT NULL VARCHAR2(10) 
JOB_TITLE  NOT NULL VARCHAR2(35) 
MIN_SALARY          NUMBER(6)    
MAX_SALARY          NUMBER(6) 

desc EMPLOYEES     ### look at the "Employees" table

Name           Null     Type         
-------------- -------- ------------ 
EMPLOYEE_ID    NOT NULL NUMBER(6)    
FIRST_NAME              VARCHAR2(20) 
LAST_NAME      NOT NULL VARCHAR2(25) 
EMAIL          NOT NULL VARCHAR2(25) 
PHONE_NUMBER            VARCHAR2(20) 
HIRE_DATE      NOT NULL DATE         
JOB_ID         NOT NULL VARCHAR2(10) 
SALARY                  NUMBER(8,2)  
COMMISSION_PCT          NUMBER(2,2)  
MANAGER_ID              NUMBER(6)    
DEPARTMENT_ID           NUMBER(4)

desc JOB_HISTORY   ### look at the "Job History" table

Name          Null     Type         
------------- -------- ------------ 
EMPLOYEE_ID   NOT NULL NUMBER(6)    
START_DATE    NOT NULL DATE         
END_DATE      NOT NULL DATE         
JOB_ID        NOT NULL VARCHAR2(10) 
DEPARTMENT_ID          NUMBER(4)

## Script to find Primary KEY

In [ ]:
set verify off
accept TABLE_NAME char prompt 'Table name>'

select COLS.COLUMN_NAME
from ALL_CONSTRAINTS as CONS 
NATURAL JOIN
ALL_CONS_COLUMNS as COLS
WHERE cons.constraint_type = 'P' AND table_name = UPPER('&TABLE_NAME');

EMPLOYEES table:
--- "EMPLOYEE_ID" 
JOBS table:
--- "JOB_ID"
REGIONS table:
--- "REGION_ID"
LOCATIONS table:
--- "LOCATION_ID"
DEPARTMENTS table:
--- "DEPARTMENT_ID"
JOB_HISTORY table:
--- "EMPLOYEE_ID"  
--- "START_DATE"
--- ## Used SQL Developer to check primary key / foreign key relationship for this table:
    --- ## Primary Key is in fact complex key "EMPLOYEED_ID & START_DATE"
    --- ## Foreign Key is "EMPLOYEE_ID".

In [ ]:
### Demonstrate INNER join and subquery example
### "Show all employees that are Managers"

In [ ]:
select FIRST_NAME||' '||LAST_NAME as FullName, JOBS.JOB_TITLE
from (select * 
from EMPLOYEES
where MANAGER_ID is not null)
EMP
inner join
JOBS
on EMP.JOB_ID = JOBS.JOB_ID;

## Now look at SQL Oracle Objects in general

In [ ]:
### List:
### table, view, synonym, index, package, package body, sequence, type body, function, procedure, trigger, type
### library, materialised view, materialised view log, database link

In [ ]:
# Synonym: generally use them when granting access to an object from another schema and don't want to worry
# about owner of object.

create PUBLIC synonym EMPLOYEES
for HR_Oracle.EMPLOYEES;

# Create, replace, drop

In [ ]:
# Index: allows faster retrieval of records. Generally good practice to use an index on larger tables, can make a 
# big difference to performance.

create index EMPLOYEES_IX
    on EMPLOYEES(SALARY)  ### NOT an ideal type to index, "EMPLOYEE_ID", "JOB_ID", "DEPARTMENT_ID", "MANAGER_ID" would
    COMPUTE STATISTICS;   ### be all better but they are already either PRIMARY or FOREIGN KEYS
                          ### Collect statistics.

# Can't index columns that are PRIMARY or FOREIGN KEYS already.

In [ ]:
# Sequence: to create autonumbers (often ideal for PRIMARY keys)

create sequence EMPLOYEE_SEQ
  MINVALUE 1
  MAXVALUE 1000000
  START WITH 1
  INCREMENT BY 1
  CACHE 20;                ### The number looking to cache at a particular time.
    
EMPOLYEE_SEQ.nextval;     ### This is used to retrieve a particular value using a sequence. An example of its usefulness 
                          ### is when looking to insert records

In [ ]:
# Function: this is an example of locating the Empolyee Number for a particular Employee
### *** UNFINISHED ***

create FUNCTION FindEmployee
   (name_in IN VARCHAR2)
   return number
IS
   number;

   cursor E1 is
   select EMPLOYEE_ID
     from EMPLOYEES
     where LAST_NAME = name_in;

BEGIN

   open E1;
   fetch E1 into EMPnumber;

   if E1%notfound then
      EMPnumber := 9999999;
   end if;

   close E1;

RETURN EMPnumber;

EXCEPTION
WHEN OTHERS THEN
   raise_application_error(-20001,'An error was encountered - '||SQLCODE||' -ERROR- '||SQLERRM);
END;

In [ ]:
### Drop Function

DROP FUNCTION FindEmployee;