## SQL Queries

## Check what is already available under schema; then import data

In [ ]:
# Check tables within the schema, after logging on
select TABLESPACE_NAME, TABLE_NAME 
from USER_TABLES;

# Check all tables accessible to current user
select TABLESPACE_NAME, TABLE_NAME 
from ALL_TABLES;

# Check an individual table
desc 'TABLENAME';

In [ ]:
### Import the main sheet again but this time only with Country and Region
### Create table for Region & Country combined as there is no ID number for Region, therefore no way of linking separate
### Country & Region tables

In [ ]:
create TABLE Country AS
select DISTINCT Country, Region, ISO2, ISO3
from(
select * 
from COUNTRYREGION) C;

In [ ]:
select count(*), Country
from COUNTRY
group by COUNTRY;

### 206 Countries, no duplicates
### Primary Key: ISO2 in Country table, Foreign Key: ISO2 in Main table

In [ ]:
alter TABLE Country 
    modify (CONSTRAINT main_pk PRIMARY KEY (ISO2));  ### Turn existing field into PRIMARY KEY
    
alter TABLE MAIN 
  modify ISO2 CONSTRAINT main_fk REFERENCES Country(ISO2);  ### Turn existing field into FOREIGN KEY

In [ ]:
create SEQUENCE main_seq START WITH 1; ### Creating sequence to create ID for Main table as auto-incrementing PRIMARY KEY

In [ ]:
create TRIGGER IDX                     ### Creating TRIGGER for IDX primary key to auto-increment.
    before INSERT on MAIN
    for EACH ROW

begin
  select main_seq.NEXTVAL
  into   ID
  from   dual;
end;
/

## Now look at existing schema within SQL Developer

In [ ]:
### This is just to have a good understanding of what is in the database and what columns the tables
### are made of.

select TABLESPACE_NAME, TABLE_NAME 
from USER_TABLES;

USERS	REGIONS
USERS	LOCATIONS
USERS	DEPARTMENTS
USERS	JOBS
USERS	EMPLOYEES
USERS	JOB_HISTORY

In [ ]:
desc REGIONS;  ### look at the "Regions" table

Name        Null     Type         
----------- -------- ------------ 
REGION_ID   NOT NULL NUMBER       
REGION_NAME          VARCHAR2(25) 

desc LOCATIONS;   ### look at the "Locations" table

Name           Null     Type         
-------------- -------- ------------ 
LOCATION_ID    NOT NULL NUMBER(4)    
STREET_ADDRESS          VARCHAR2(40) 
POSTAL_CODE             VARCHAR2(12) 
CITY           NOT NULL VARCHAR2(30) 
STATE_PROVINCE          VARCHAR2(25) 
COUNTRY_ID              CHAR(2) 

desc DEPARTMENTS;   ### look at the "Departments" table

Name            Null     Type         
--------------- -------- ------------ 
DEPARTMENT_ID   NOT NULL NUMBER(4)    
DEPARTMENT_NAME NOT NULL VARCHAR2(30) 
MANAGER_ID               NUMBER(6)    
LOCATION_ID              NUMBER(4) 

desc JOBS;         ### look at the "Jobs" table

Name       Null     Type         
---------- -------- ------------ 
JOB_ID     NOT NULL VARCHAR2(10) 
JOB_TITLE  NOT NULL VARCHAR2(35) 
MIN_SALARY          NUMBER(6)    
MAX_SALARY          NUMBER(6) 

desc EMPLOYEES     ### look at the "Employees" table

Name           Null     Type         
-------------- -------- ------------ 
EMPLOYEE_ID    NOT NULL NUMBER(6)    
FIRST_NAME              VARCHAR2(20) 
LAST_NAME      NOT NULL VARCHAR2(25) 
EMAIL          NOT NULL VARCHAR2(25) 
PHONE_NUMBER            VARCHAR2(20) 
HIRE_DATE      NOT NULL DATE         
JOB_ID         NOT NULL VARCHAR2(10) 
SALARY                  NUMBER(8,2)  
COMMISSION_PCT          NUMBER(2,2)  
MANAGER_ID              NUMBER(6)    
DEPARTMENT_ID           NUMBER(4)

desc JOB_HISTORY   ### look at the "Job History" table

Name          Null     Type         
------------- -------- ------------ 
EMPLOYEE_ID   NOT NULL NUMBER(6)    
START_DATE    NOT NULL DATE         
END_DATE      NOT NULL DATE         
JOB_ID        NOT NULL VARCHAR2(10) 
DEPARTMENT_ID          NUMBER(4)

## Script to find Primary KEY

In [ ]:
set verify off
accept TABLE_NAME char prompt 'Table name>'

select COLS.COLUMN_NAME
from ALL_CONSTRAINTS as CONS 
NATURAL JOIN
ALL_CONS_COLUMNS as COLS
WHERE cons.constraint_type = 'P' AND table_name = UPPER('&TABLE_NAME');

EMPLOYEES table:
--- "EMPLOYEE_ID" 
JOBS table:
--- "JOB_ID"
REGIONS table:
--- "REGION_ID"
LOCATIONS table:
--- "LOCATION_ID"
DEPARTMENTS table:
--- "DEPARTMENT_ID"
JOB_HISTORY table:
--- "EMPLOYEE_ID"  
--- "START_DATE"
--- ## Used SQL Developer to check primary key / foreign key relationship for this table:
    --- ## Primary Key is in fact complex key "EMPLOYEED_ID & START_DATE"
    --- ## Foreign Key is "EMPLOYEE_ID".

### Demonstrate INNER join and subquery example
### "Show all employees that are Managers"

In [ ]:
select FIRST_NAME||' '||LAST_NAME as FullName, JOBS.JOB_TITLE
from (select * 
from EMPLOYEES
where MANAGER_ID is not null)
EMP
inner join
JOBS
on EMP.JOB_ID = JOBS.JOB_ID;

## Now look at SQL Oracle Objects in general

In [ ]:
### List of objects:
### table, view, synonym, index, package, package body, sequence, type body, function, procedure, trigger, type
### library, materialised view, materialised view log, database link

### Synonym: generally use them when granting access to an object from another schema and don't want to worry
### about owner of object.

In [ ]:
create PUBLIC synonym EMPLOYEES
for HR_Oracle.EMPLOYEES;

# Create, replace, drop

### Index: allows faster retrieval of records. Generally good practice to use an index on larger tables, can make a 
### big difference to performance.

In [ ]:
create index EMPLOYEES_IX
    on EMPLOYEES(SALARY)  ### NOT an ideal type to index, "EMPLOYEE_ID", "JOB_ID", "DEPARTMENT_ID", "MANAGER_ID" would
    COMPUTE STATISTICS;   ### be all better but they are already either PRIMARY or FOREIGN KEYS
                          ### Collect statistics.

# Can't index columns that are PRIMARY or FOREIGN KEYS already.

### Sequence: to create autonumbers (often ideal for PRIMARY keys)

In [ ]:
create sequence EMPLOYEE_SEQ
  MINVALUE 1
  MAXVALUE 1000000
  START WITH 1
  INCREMENT BY 1
  CACHE 20;                ### The number looking to cache at a particular time.
    
EMPOLYEE_SEQ.nextval;     ### This is used to retrieve a particular value using a sequence. An example of its usefulness 
                          ### is when looking to insert records

### Procedure: uses comparison operator 'LIKE' to search for pattern in text

In [ ]:
declare                    
procedure
  compare (value VARCHAR2, pattern VARCHAR2) is
  begin 
  
    if value LIKE pattern
      then
      dbms_output.put_line('FOUND IT!');
    
    else
      dbms_output.put_line('keep searching');
    
    end if;
  
  end;   
  
  begin
  
    compare('Taylor Smith', 'T% S%');         ### compares 'Taylor Smith' to pattern 'T' 'S' (valid)
    compare('Margaret Smith', 'T% S%');       ### compares 'Margaret Smith' to pattern 'T' 'S' (invalid)
  
  end;
    
/

********************
PL/SQL procedure successfully completed.

FOUND IT!
keep searching
********************

### Function: this is an example of locating the Empolyee Number for a particular Employee

In [ ]:
### *** UNFINISHED ***

create FUNCTION FindEmployee
   (name_in IN VARCHAR2)
   return number
IS
   number;

   cursor E1 is
   select EMPLOYEE_ID
     from EMPLOYEES
     where LAST_NAME = name_in;

begin

   open E1;
   fetch E1 into EMPnumber;

   if E1%notfound then
      EMPnumber := 9999999;
   end if;

   close E1;

return EMPnumber;

exception
when OTHERS then
   raise_application_error(-20001,'An error was encountered - '||SQLCODE||' -ERROR- '||SQLERRM);
end;
/

In [ ]:
### Drop Function (or any other object, of course)

DROP FUNCTION FindEmployee;

In [ ]:
### Make sure output is printed 

SET SERVEROUTPUT ON;

### Using Condition, a simple IF statement for updating a table

In [ ]:
### Updating the EMPLOYEES table with salary for employee number 100

declare
  E_ID EMPLOYEES.EMPLOYEE_ID%TYPE := 100;  ### will update this record if condition is True.
  E_SAL EMPLOYEES.SALARY%TYPE;             ### %TYPE is to make sure column has same type as original table
  
begin
  select SALARY
  into E_SAL
  from EMPLOYEES
  where EMPLOYEE_ID = E_ID;
  
    if (E_SAL < 30000) then                ### if salary is less than 30,000 then EMPLOYEES table is updated
      update EMPLOYEES
      
      set SALARY = SALARY + 10000
        where
        EMPLOYEE_ID = E_ID;
        
        dbms_output.put_line('Salary Updated');
        
     end if;
    
end;
/

### Using "CASE" for a simple salary band comparison

In [ ]:
declare

  E_ID EMPLOYEES.EMPLOYEE_ID%TYPE := 100;
  E_SAL EMPLOYEES.SALARY%TYPE;
  
  begin
  
    select SALARY
    into E_SAL
    from EMPLOYEES
    where EMPLOYEE_ID = E_ID;
    
    case
    
      when E_SAL < 10000 then dbms_output.put_line('too low ' || E_SAL);
      when E_SAL >= 10000 and E_SAL < 30000 then dbms_output.put_line('average '|| E_SAL);
      when E_SAL >= 30000 then dbms_output.put_line('good '|| E_SAL);
      
    else
      dbms_output.put_line('off scale '|| E_SAL);
      
    end case;
    
  end;
  
/

### A very simple loop with 'exit' instead of using IF/ESIF/ELSE statements.

In [ ]:
declare

  x number := 10;
  
  begin
    loop
      dbms_output.put_line(x);
      
      x := x + 5;
      
      exit when x > 50;
    end loop;
  end;
/

### Same result as above with a 'while' loop

In [ ]:
declare

  x number := 10;
  
  begin
    while x <= 50 loop
    
      dbms_output.put_line(x);
        
      x := x + 5;
    end loop;
  end;
/

### For loop - simple, just showing reverse order and keyword positionining

In [ ]:
declare
  a number (2);
  begin
  for a in 10 .. 20 loop
  
    dbms_output.put_line('looping: '||a);
    
  end loop;
end;
/

declare
  a number (2);
  begin
  for a in reverse 10 .. 20 loop      ##### this is where counting within loop is reversed
  
    dbms_output.put_line('looping: '||a);
    
  end loop;
end;
/